@import './colors';
@import './spacing';
@import './tipography';

@mixin responsive() {
    @media screen and (max-width: 960px) {
        @content
    }
}

header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.align-start {
    align-items: start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.border {
    border: 1px solid red;
}

.menu-link {
    text-decoration: none;
    color: $white-dark;
    transition: .3s ease;
    font-size: 16px;
    display: inline-block;
    padding: 16px;

    &:hover {
        opacity: 0.8;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 24px;
    @include responsive() {
        display: none;
    }
}

.menu-item {
    list-style: none;
}

.search {
    position: relative;
    border-radius: 8px;
    background-color: $black-light;
    min-width: 300px;
}

.search-input {
    padding: 11px;
    min-width: 270px;
    border: 0;
    border-radius: 8px;
    background-color: $black-light;
    color: $white-normal;

    &:focus {
        outline: none;
    }

}

.search-icon {
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: 12px;
    transform: translateY(-50%);
    transition: 0.3s ease;

    &:hover {
        opacity: 0.9;
    }
}

.img-profile {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $gray-2;
}