@import './sass/colors';
@import './sass/layout';
@import './sass/spacing';
@import './sass/tipography';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #050607;
}

h1 {
    color: white;
}